h1 {
    color: white;
    font-weight: 500;
    background-image: linear-gradient(to right, rgba(59, 107, 211, 0.899), rgb(34, 6, 79));
}

#current-date {
    font-size: 1.5rem;
    padding-left: .5em;
    font-weight: 500;
}